@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css?family=Tangerine");

/* Global Styles 

NOTE colors need to be changed 
*/
:root {
  --primary-color: #ed800d;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  /*  */
}

.note-input-wrapper{
  min-width: 50%;
}

.test-class{
  min-width: 50%;
}

.notes-page-wrapper{
  width: 100%;
}

.note-wrapper{
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--dark-color);
  padding: 1%;
  margin-bottom: 1%;
}

.spinner-placement{
  margin: 0 auto;
}

.line-chart-dash{
  max-height: 100%;
  width: 70%;
}
.spotify-dash {
  display: flex;
  width: 100%;
  height: 90%;
  /* align-items: baseline; */
  justify-content: space-around;
}


.note-text{
  max-width: 80%;
  overflow: hidden;
}
.note-remove{
  float: right;
}
.container-aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: flex-start; */
  /* margin: 0 auto; */
}

.about-us-person {
  display: flex;
  /* margin: 3%; */
  width: 40%;
  margin-bottom: 4%;
}

.quotes {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-left: 2%;
}

.img-quotes {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
}

.text-quotes{
  height: 100%;
  width: 70%;
  min-width: 70%;
  display: inline-block;
}

.text-quotes p:first-child {
  font-family: 'Tangerine', serif;
  font-size: 2.5em;
}

.text-quotes p:nth-child(even){
  text-align: right;
  margin-top:5%;
}

.item-aboutus{
/*   vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px; */
}

.item-aboutus-img{
/*   display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  height: 33vmax;
  align-content: flex-end;
  flex-wrap: wrap; */
}

.item-aboutus-ul{
/*   display: block;
  align-items: baseline;
  height: 80%;
  height: 12rem;
  margin-bottom: 10px;
  width: 40%; */
}

.item-aboutus-text {
  display: flex;
  align-items: center;
}

li.item-aboutus-li-bold{
  font-weight: bold;
}

li.item-aboutus-li-italic{
  font-style: italic;
}

/*weather City Text*/
.weather-text-minmax{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;

}
.weather-text-icon{
  text-align: center;
/*   padding-right: 4rem;
  padding-top: 1rem; */
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  line-height: 1.6;
  font-weight: bold;
}

.image-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.li-newsroom-text{
  text-align: center;
  list-style-type: none;
  align-items: center;
  display: flex;
  margin-bottom: 2%;
  width: 98%;
  padding:3%;
}
.li-newsroom-img{
  padding-bottom: -5rem;
  padding-top: -5rem;
  display: flex;
  align-content: center;
  width: 60%;
  margin-left:4%;
  max-width: 40%;
}
/*weather Icon*/
.weather-icon{
  width: 35%;
  height: 35%;
}

/*weather List*/
.weather-ul{
  text-align: left;
  padding-right: 15rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;
}

/*weather*/
.container-dash{

  /* background-color: yellow; */
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}

.notes-dash{
  overflow: scroll;
  height: 70%;
  padding: 0 2rem 2rem 2rem;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x:hidden
  
}


::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(214, 222, 225, 0.705);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff;
  height: 10px;
}
.container-dash-rss{
  overflow: scroll;
  max-height: 70%;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x:hidden;
  display: flex;
}
.container-dash-rss h2{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.ul-newsroom-scroolbar{
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-x:hidden
}


.grid-smaller{
  padding:1rem;
}
/* Utilities */
.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
 /*  padding: 4rem 4rem; */
}

.container-about{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* grid layout home etc*/
.react-grid-item {
  background-color: #f4f4f4;
  border-radius: 4px;
  background: orange;
}

.react-grid-item img{
  height: 100%;
}

.react-grid-item h2{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.react-grid-layout{
  height: 100%;
}
/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}


.grid-covid{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 2%;
}
.grid-covid i{
  font-size: 2em;
}

.covid-wrapper {
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-direction: column;
}

.container-covid {
  display: flex;
  /* margin-top: 5%; */
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.break-covid{
  flex-basis: 100%;
  height: 1.5vw;
}
/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
  
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
  text-align: center;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

.switch-theme {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1%;
  z-index: 1;

}

/* Navbar */
.navbar {
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;
  padding-top: 1%;
  padding-right: 3%;
  margin-left: auto;
  align-self: flex-end;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
}

.navbar svg{
  width: 15%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Animation (Add After) */
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

/*burger menu */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--primary-color);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background:var(--primary-color);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

.bm-menu a {
  color:  var(--dark-color);
}

.bm-menu a:hover {
  color: var(--primary-color);

}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.item-aboutus-ul{
  margin-left:5%;
}

.notes-dash-form .btn-note{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}


.notes-dash-form{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.notes-dash-form form{
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.notes-dash-form .btn-note input{
  margin: 0;
  text-align: center;
}


@media (max-width: 1100px){
  .container{
    margin-top: 2%;
  }

  .navbar svg {
    width: 20%;
}

.grid-weather{
  width: 100%;
}

.bm-burger-bars {
  background: #333;
}

.line-chart-dash{
  max-width: 60%;
}

}


/* Mobile Styles */
@media (max-width: 770px) {
  .hide-sm {
    display: none;
  }
  .container{
    margin-top:10%;
    width: 90%;
  }
  .container-covid{
    font-size: 0.9em;
  }

  .navbar svg {
    width: 40%;
    margin-top: 9%;
}

  .line-chart-dash{
    width: 100%;
    max-width: 90%;
  }

  .about-us-person{
    padding: 2%;
    flex-direction: column;
    width: 70%;
    align-items: center;
  }
  .item-aboutus-ul{
    margin-left:5%;
  }

  .grid-2,
  .grid-4 {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .grid-3{
    display: flex;
    flex-direction: row;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
